<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.unkvoid.desktop</string>
    <key>CFBundleName</key>
    <string>Unkvoid</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>O Unkvoid usa o microfone para você falar nos canais de voz.</string>
    <key>NSCameraUsageDescription</key>
    <string>O Unkvoid usa a câmera quando você a liga num canal de voz.</string>
</dict>
</plist>
